<div class="container">
	<form action="" [ngFormModel]="form">
		<div class="form-group">
			<label for="oldPassword">Old Password</label>
			<input type="password" class="form-control" id="oldPassword" ngControl="oldPassword" #oldPassword="ngForm" />

			<div *ngIf="oldPassword.touched && oldPassword.errors" >
				<div class="alert alert-danger" *ngIf="oldPassword.errors.required" >
					The Old Password field is required
				</div>
			</div>
		</div>	
		<div class="form-group">
			<label for="newPassword">New Password</label>
			<input type="password" class="form-control" id="newPassword" ngControl="newPassword" #newPassword="ngForm"	/>
			<div *ngIf="newPassword.touched && newPassword.errors" >
				<div class="alert alert-danger" *ngIf="newPassword.errors.required" >
					The Old Password field is required
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="confirmPassword">Confirm Password</label>
			<input type="password" class="form-control" id="confirmPassword" ngControl="confirmPassword" #confirmPassword="ngForm"	/>
			<div *ngIf="confirmPassword.touched && confirmPassword.errors" >
				<div class="alert alert-danger" *ngIf="confirmPassword.errors.required" >
					The Confirm Password field is required
				</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Change Password</button>
	</form>
</div>